.parentCD{
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    height: 550px;
    width: 550px;
    position: absolute;
}

.spanCd{
    color:#ff6347;
    margin-top:10px;
    margin-left: 10px;
    font-size: 100%
}

.spanCd2{
    color:#081041;
    margin-top:3px;
    /* margin-left: 10px; */
    font-size: 100%;
}

.childCD1{
    margin-top: 40px;
    margin-left: 40px;
}

.childCD2{
    margin-top: 40px;
    margin-left: 40px;
}

.childCD3{
    margin-top: 40px;
    margin-left: 40px;
}
.spanCd4{
    margin-top: 10px;
    /* margin-left: 30px; */
    font-size: 60%;
}