.PopularStreamParentDiv {
  background-color: white;
  width: 290px;
  height: 25px;
  border-radius: 10px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  /* position: fixed; */
  padding-bottom: 200px;
  /* overflow: hidden; */
}
.PS-column {
  width: 270px;
  height: 160px;
  background: white;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
}
.PopularStreamInner {
  display: inline-block;
  width: 270px;
  /* height: 80px; */
  background: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
