.bodyEAP{
    background-color: #E5E5E5;
}

.div1EAP{
    /* background-color: bisque; */
    width: 900px;
    height: 750px;
    margin-left: 350px;
    margin-top: 40px;
}

.div2EAP{
    /* background-color: bisque; */
    width: 300px;
    height: 750px;
    margin-left: 40px;
    margin-top: 30px;
}