.cardIm2{
    background-color: #fff;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    position: relative;
}
.cardIm21{
    background-color: #fff;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    margin-left: 20px;
    position: relative;
}

.cardIm22{
    background-color: #fff;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    margin-left: 20px;
    position: relative;
}

.cardIm23{
    background-color: #fff;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    margin-left: 20px;
    position: relative;
}

.picIm2{
    position: absolute;
    /* background-color: rgb(156, 112, 58); */
    margin-top: 10px;
    margin-left: 10px;
    height: 100px;
    width: 180px;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.heading1Im2{
    position: absolute;
    margin-top: 115px;
    margin-left: 15px;
    word-wrap: break-word;
    /* text-align: center; */
}

.imgIm2{
    /* height: 100px;
    width: 180px; */
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    width: 100%;
    height: 100%;
}

.parentIm2{
    display: flex;
    flex: row;
}