.SignUpUserBackGround {
  height:100%; 
  width:100%;
  background-color: #0F123F;
  position:absolute; 
}

.SignUpUserbuttonRet {
  border-radius: 7px;
  background-color: #c36156;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 7px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 36px; */
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);

}

.SignUpUserbuttonRet{
  cursor: pointer;
  display: inline-block;
  position: absolute; 
  left: 10px;
  top: 6px; /*HEREEEEE*/
  margin:0 auto;
  display:block;
  transition: 0.5s;
}

.SignUpUserbuttonRet:after {
  content: '«';
  position: absolute;
  opacity: 0;  
  top: 5px;
  left: -20px;
  transition: 0.5s;
}

.SignUpUserbuttonRet:hover{
  padding-left: 14px;
  padding-right: 7px;
}

.SignUpUserbuttonRet:hover:after {
  opacity: 1;
  left: 20px;
}

.SignUpUserFirstName {

  display: block;

  justify-content: center;

  text-align: center;

  align-items: center;
  
  margin-top: 2%;

  font-size: 20px;
}

.SignUpUserMiddleName {

  display: block;

  justify-content: center;

  text-align: center;

  align-items: center;
  
  margin-top: 1%;

  font-size: 20px;
}

.SignUpUserLastName {

  display: block;

  justify-content: center;

  text-align: center;

  align-items: center;
  
  margin-top: 1%;

  font-size: 20px;
}

.SignUpUserusernname {

  display: flex;

  justify-content: center;

  align-items: center;
  
  margin-top: 5%;

  font-size: 20px;
}

.SignUpUserpassword {
  display: flex;

  justify-content: center;

  align-items: center;

  margin-top: 3.5%;

  margin-bottom: 1%;
  
  font-size: 20px;
}

.SignUpUserRepassword {
  display: flex;

  justify-content: center;

  align-items: center;

  margin-top: 2%;

  margin-bottom: 5%;
  
  font-size: 20px;
}


  
.SignUpUsercenterTxt {

  display: flex;

  justify-content: center;

  align-items: center;

  margin-bottom: 6%;

}

.SignUpUsernoUnderline {
  text-decoration: none;
}

.SignUpUserButton {
  border-radius: 7px;
  background-color: #c36156;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 7px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 36px; */
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.SignUpUserButton{
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 10px;/*WHEN LOGO APPEAR, CHANGE IT*/
  margin: auto;
  display:block;
  transition: 0.5s;

}

.SignUpUserButton:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 5px;
  right: -20px;
  transition: 0.5s;
}

.SignUpUserButton:hover{
  padding-right: 24px;
  padding-left:8px;
}

.SignUpUserButton:hover:after {
  opacity: 1;
  right: 110px;
}